@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #d2e7fa inset !important;
  -webkit-text-fill-color: rgb(52, 56, 73) !important;
}
@layer utilities {
  .rotate-y-180 {
		transform : rotateY(180deg)
	}
	.preserve-3d {
		transform-style: preserve-3d 
	}
	.perspective-1000 {
		perspective : 1000px
	}
	.backface-hidden {
    backface-visibility: hidden;
	}
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.main-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	word-break: break-word !important;
}

.ck-content h1 {
  font-size: xx-large;
  font-weight: bold;
}
.ck-content h2 {
  font-size: x-large;
  font-weight: bold;
}
.ck-content h3 {
  font-size: larger;
  font-weight: bold;
}

.preview h1 {
  font-size: xx-large;
  font-weight: bold;
}
.preview h2 {
  font-size: x-large;
  font-weight: bold;
}
.preview h3 {
  font-size: larger;
  font-weight: bold;
}

.preview table,
.preview th,
.preview td {
    border: 1px solid;
    border-collapse: collapse;
}

